<div class="card">
    <div class="card-header">
    
    <a class="btn btn-success" routerLink="/agregar-empleados">Agregar nuevo Empleado</a>
    </div>
    <div class="card-body">
        <h1>Lista de Empleados</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" *ngFor="let empleado of Empleados; let iControl=index">
                        <td scope="row">{{empleado.id}}</td>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.correo}}</td>
                        <td><a class="btn btn-info" role="button" routerLink="/editar-empleados/{{empleado.id}}">Editar</a>
                             |  <a  class="btn btn-danger" (click)="borrarRegistros(empleado.id, iControl)" role="button">Borrar</a> </td>
                       
                    </tr>
                   
                </tbody>
            </table>
        </div>
        
    </div>
   
</div>
